<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add Word</title>
    </head>
    <body>
        <h1>Add Word</h1>

        <form method="POST" action="/add-word">
            <div>
                <label>Word</label>
                <input type="text" name="name" required />
            </div>
            <div>
                <label>Definition</label>
                <input type="text" name="definition" />
            </div>
            <div>
                <button type="submit">Add Word</button>
            </div>
        </form>
    </body>
</html>